@media (max-width: 1034px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 1rem;
    }
}

@media (max-width: 888px){

    html{
        font-size: 50%;
    }

    .header{
        padding: 2rem;
    }
}

@media (max-width: 768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width: 90%;
    }

    .header .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: .05rem .1rem .2rem rgba(0, 0, 0, 0.2);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
        color: #333;
    }

    .footer .box-container .box .payment-img{
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 400px){

    html{
        font-size: 50%;
    }

    .header{
        flex-direction: column;
    }
}
